<div class="cart-container">
  <div class="cart-header">
    <h1>My Active Agreements</h1>
  </div>
  <table class="table cart-table">
    <thead>
      <tr>
        <th>Car Model</th>
        <th>Total Amount</th>
        <th>Number of days</th>
        <th>Action</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cartProduct of cartItems" class="cart-row">
        <td>{{ cartProduct.name }}</td>
        <td>{{ cartProduct.price * cartProduct.quantity}}</td>
        <td class="quantity">
          <button (click)="decreaseQuantity(cartProduct)" class="btn btn-primary quantity-button">-</button>
          <span>{{ cartProduct.quantity }}</span>
          <button (click)="increaseQuantity(cartProduct)" class="btn btn-primary quantity-button">+</button>
        </td>
        <td>
          <button (click)="removeProduct(cartProduct.cartItemId)" class="btn btn-danger remove-button">Remove</button>
        </td>
        <td>
          <input type="checkbox" [(ngModel)]="cartProduct.selected" (change)="updateSelectedProducts()" class="checkbox-input">
        </td>
      </tr>
    </tbody>
  </table>
  <button *ngIf="selectedProducts.length > 0" (click)="placeOrder()" class="btn btn-primary place-order-button">Confirm Agreement</button>
</div>
